<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/registration.css">
</head>

<body>
    
    </nav>
    <header class="head">
        <h2>Enter your Registration details</h2>
        <aside class="aside">
            <form id="form" action="/registration" method="POST">
                <div>First Name : <input type="text" name="firstname" placeholder="First Name"></div>
                <div>Last Name : <input type="text" name="lastname" placeholder="Last Name"></div> 
                <div>Email : <input type="email" name="email" placeholder="Email"></div>
                <div>Contact No : <input type="tel" name="mobilenumber" placeholder="Contact Number"></div>
                <div>Date of Birth : <input type="date" name="dateofbirth" placeholder="Date of Birth" style="width: 228px;"></div>
                <div>State : <input type="text" name="state" placeholder="State"></div>
                <div>City : <input type="text" name="city" placeholder="City"></div>
                <div>Pin Code : <input type="number" name="pincode" placeholder="Pin Code" ></div>
                Create your Password !
                <div id="password">Password : <input type="password" name="password" placeholder="Password"></div>
                <div>Confirm Password : <input type="password" name="cpassword" placeholder="Confirm Password"></div>
                <button id="button">submit</button>
            </form>
        </aside>

    </header>
</body>

</html>